*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(134, 146, 158);
}

header h1{
    color: whitesmoke;
    text-align: center;
    padding: 12px;
    background: #1F2937;
    font-size: 3rem;
}

h2{
    color: royalblue;
    text-align: center;
    padding-top: 12px;
    font-size: 2.5rem;
}
.result{
    color: rebeccapurple;
}

button{
    font-size: 1.5rem;
    color: blue;
    position: absolute;
    top: 35%;
    border: 1px solid blue;
    border-radius: 5px;
    background: transparent;
    padding: 5px;
}
 
.btn1{
    left: 27%;
}
.btn2{
    left: 43%;
}
.btn3{
    left: 59%;
}